<div class="container mt-4">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <h1>Editing Garden</h1>
      <%= render 'form', garden: @garden %>
      <br>
      <%= link_to 'Show', @garden %> |
      <%= link_to 'Back', gardens_path %>
      </div>
    </div>
  </div>

